
    .m-index{
        // width:100%;
         height:100%;
      //  background:red;
      @include flexbox();
      @include flex-direction(column);
      header{
        height:44px;
        background:yellow;
      }
      section{
        @include flex(1);
        background:blue;
        width: 100%;
      }
      nav{
         height:44px;
         background:pink;
      }
    }
