// $color :green;

//    html,body{
//         padding:0;
//         margin:0;
//         height:100%;
//         width:100%;
//     }
//       #app{
//         width:100%;
//         height:100%;
//         overflow:hidden;
//     }
//  body{
//     background: $color;
// }
@charset "UTF-8";

@import "./usage/core/reset.scss";

@import "./usage/module/m-index.scss";